<<<<<<< HEAD
@media (max-width: 1300px) {
    header .content p {
        font-size: clamp(12px, 1.5vw, 16px);
    }

    #carouselExample .carousel-inner .carousel-item:nth-of-type(1) .content p {
        width: clamp(60%, 80vw, 90%);
    }

    #carouselExample .carousel-inner .carousel-item:nth-of-type(2) .content .part1 h4 {
        font-size: 25px;
    }

    #carouselExample .carousel-inner .carousel-item .content a {
        font-size: 12px;
        padding: 4px 16px;
    }

    #carouselExample .carousel-inner .carousel-item:nth-of-type(3) .content .part2 {
        margin-top: 20px;
    }

    #carouselExample .carousel-inner .carousel-item:nth-of-type(3) .content .part2 h2 {
        font-size: 20px
    }

    #carouselExample>button {
        bottom: 20px;
        width: 40px;
        height: 40px;
        font-size: 16px;
    }

    #carouselExample>button:nth-of-type(1) {
        right: 90px;
    }

    #carouselExample>button:nth-of-type(2) {
        right: 30px;
    }

    #Items {
        overflow: auto;
    }

    #Items .col img {
        width: 40px;
        height: 40px;
    }

    #About .part1 h3 {
        font-size: clamp(17px, 2.5vw, 25px);
    }

    #About .part1 p {
        font-size: clamp(12px, 2vw, 16px);
    }

    #About .part1 .item .row .item span {
        font-size: 15px;
    }

    #About .part2 .item {
        height: clamp(200px, 20vw, 300px);
    }

    .header .line:before,
    .header .line:after {
        width: 15%;
    }

    #Testimonials {
        height: initial;
        background-image: url("../images/video_image-min.jpg");
        background-position: center;
        background-size: cover;
        background-attachment: fixed;
    }

    #Testimonials video {
        display: none;
    }

    #Testimonials .container h2 {
        font-size: clamp(20px, 5vw, 35px);
    }

    #Testimonials .container p {
        width: 100%;
    }

    #Menu .nav.nav-pills {
        overflow: auto;
    }

    #Order .form-container .item {
        width: 100%;
        padding: 20px 25px;
    }

}


@media (min-width: 371px) and (max-width: 1300px) {
    #carouselExample .carousel-inner .carousel-item:nth-of-type(2) .content .part1 h4 {
        margin-block: 16px !important;
    }

    #carouselExample .carousel-inner .carousel-item .content a {
        font-size: 16px;
        padding: 8px 24px;
    }

    #carouselExample .carousel-inner .carousel-item:nth-of-type(3) .content .part2 h2 {
        font-size: 25px
    }

    #carouselExample .carousel-inner .carousel-item:nth-of-type(3) .content .part2 img {
        width: 60% !important;
    }

    #About .part1 .item .row .item span {
        font-size: 18px;
    }
}

@media (min-width: 577px) and (max-width: 1300px) {
    #carouselExample .carousel-inner .carousel-item:nth-of-type(3) .content .part2 img {
        width: 40% !important;
    }

    .header .line:before,
    .header .line:after {
        width: 10%;
    }
}

@media (min-width: 769px) and (max-width: 1300px) {
    #carouselExample .carousel-inner .carousel-item:nth-of-type(3) .content .part2 {
        margin-top: 30px;
    }

    #carouselExample .carousel-inner .carousel-item:nth-of-type(3) .content .part2 img {
        width: 60% !important;
    }

    #carouselExample>button {
        width: 50px;
        height: 50px;
        font-size: 20px;
    }

    #carouselExample>button:nth-of-type(1) {
        right: 130px;
    }

    #carouselExample>button:nth-of-type(2) {
        right: 50px;
    }

    #Testimonials {
        height: 450px;
        background-image: none;
    }

    #Testimonials video {
        display: block;
    }

    #Testimonials .container p {
        width: 90%;
    }

    #Testimonials .container .item {
        padding: 15px;
    }

    #Testimonials .container .item p,
    #Testimonials .container .item h4 {
        font-size: 18px;
    }
}

@media (min-width: 992px) and (max-width: 1300px) {
    #carouselExample .carousel-inner .carousel-item:nth-of-type(3) .content .part2 {
        margin-top: 10px;
    }

    #Order .form-container .item {
        width: 85%;
    }
}

=======
@media (max-width: 1300px) {
    header .content p {
        font-size: clamp(12px, 1.5vw, 16px);
    }

    #carouselExample .carousel-inner .carousel-item:nth-of-type(1) .content p {
        width: clamp(60%, 80vw, 90%);
    }

    #carouselExample .carousel-inner .carousel-item:nth-of-type(2) .content .part1 h4 {
        font-size: 25px;
    }

    #carouselExample .carousel-inner .carousel-item .content a {
        font-size: 12px;
        padding: 4px 16px;
    }

    #carouselExample .carousel-inner .carousel-item:nth-of-type(3) .content .part2 {
        margin-top: 20px;
    }

    #carouselExample .carousel-inner .carousel-item:nth-of-type(3) .content .part2 h2 {
        font-size: 20px
    }

    #carouselExample>button {
        bottom: 20px;
        width: 40px;
        height: 40px;
        font-size: 16px;
    }

    #carouselExample>button:nth-of-type(1) {
        right: 90px;
    }

    #carouselExample>button:nth-of-type(2) {
        right: 30px;
    }

    #Items {
        overflow: auto;
    }

    #Items .col img {
        width: 40px;
        height: 40px;
    }

    #About .part1 h3 {
        font-size: clamp(17px, 2.5vw, 25px);
    }

    #About .part1 p {
        font-size: clamp(12px, 2vw, 16px);
    }

    #About .part1 .item .row .item span {
        font-size: 15px;
    }

    #About .part2 .item {
        height: clamp(200px, 20vw, 300px);
    }

    .header .line:before,
    .header .line:after {
        width: 15%;
    }

    #Testimonials {
        height: initial;
        background-image: url("../images/video_image-min.jpg");
        background-position: center;
        background-size: cover;
        background-attachment: fixed;
    }

    #Testimonials video {
        display: none;
    }

    #Testimonials .container h2 {
        font-size: clamp(20px, 5vw, 35px);
    }

    #Testimonials .container p {
        width: 100%;
    }

    #Menu .nav.nav-pills {
        overflow: auto;
    }

    #Order .form-container .item {
        width: 100%;
        padding: 20px 25px;
    }

}


@media (min-width: 371px) and (max-width: 1300px) {
    #carouselExample .carousel-inner .carousel-item:nth-of-type(2) .content .part1 h4 {
        margin-block: 16px !important;
    }

    #carouselExample .carousel-inner .carousel-item .content a {
        font-size: 16px;
        padding: 8px 24px;
    }

    #carouselExample .carousel-inner .carousel-item:nth-of-type(3) .content .part2 h2 {
        font-size: 25px
    }

    #carouselExample .carousel-inner .carousel-item:nth-of-type(3) .content .part2 img {
        width: 60% !important;
    }

    #About .part1 .item .row .item span {
        font-size: 18px;
    }
}

@media (min-width: 577px) and (max-width: 1300px) {
    #carouselExample .carousel-inner .carousel-item:nth-of-type(3) .content .part2 img {
        width: 40% !important;
    }

    .header .line:before,
    .header .line:after {
        width: 10%;
    }
}

@media (min-width: 769px) and (max-width: 1300px) {
    #carouselExample .carousel-inner .carousel-item:nth-of-type(3) .content .part2 {
        margin-top: 30px;
    }

    #carouselExample .carousel-inner .carousel-item:nth-of-type(3) .content .part2 img {
        width: 60% !important;
    }

    #carouselExample>button {
        width: 50px;
        height: 50px;
        font-size: 20px;
    }

    #carouselExample>button:nth-of-type(1) {
        right: 130px;
    }

    #carouselExample>button:nth-of-type(2) {
        right: 50px;
    }

    #Testimonials {
        height: 450px;
        background-image: none;
    }

    #Testimonials video {
        display: block;
    }

    #Testimonials .container p {
        width: 90%;
    }

    #Testimonials .container .item {
        padding: 15px;
    }

    #Testimonials .container .item p,
    #Testimonials .container .item h4 {
        font-size: 18px;
    }
}

@media (min-width: 992px) and (max-width: 1300px) {
    #carouselExample .carousel-inner .carousel-item:nth-of-type(3) .content .part2 {
        margin-top: 10px;
    }

    #Order .form-container .item {
        width: 85%;
    }
}

>>>>>>> 29133cf1d7e6129d0f4646247c571f9d0da429dc
@media (min-width: 1181px) and (max-width:1300px) {}