@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }

    0% {
        transform: rotate(360deg);
    }
}

@keyframes updown {
    0% {
        transform: translateY(0);
    }

    100% {
        transform: translateY(-25px);
    }
}

@keyframes top-span {
    0% {
        top: 5px;
    }

    50% {
        top: 15px;
    }

    100% {
        top: 15px;
        transform: translate(-50%, -50%) rotate(45deg);
    }
}

@keyframes bottom-span {
    0% {
        top: 25px;
    }

    50% {
        top: 15px;
    }

    100% {
        top: 15px;
        transform: translate(-50%, -50%) rotate(-45deg);
    }
}

@keyframes rotate {
    0% {
        transform:rotate(0);
    }

    100% {
        transform: rotate(360deg);
    }
}

@keyframes delivery {
    20% {
        opacity: 1;
        left: 0;
        transform: translateY(-30px);
    }

    50% {
        left: 0;
        opacity: 1;
        transform: translateY(0);
    }

    70% {
        opacity: 0;
        left: 200%;
        transform: translateY(0);
    }

}
